$bg-color: #dfdfdf;

$enable-color: #fff;
$enable-border-color: #15aeec;
$enable-bg-gradient-color-a: #1ab0ec;
$enable-bg-gradient-color-b: #1a92c2;

$hr-bg-color-a: rgba(0, 0, 0, 0);
$hr-bg-color-b: rgba(0, 0, 0, 0.5);
$hr-bg-color-c: rgba(0, 0, 0, 0);

$info-bg-color: rgba(227, 233, 255, 1);
$info-border-color: rgba(142, 149, 173, 1);

$panel-shadow-color-a: rgba(0, 0, 0, 0.3);
$panel-shadow-color-b: rgba(0, 0, 0, 0.1);
$panel-shadow-color-c: rgba(0, 0, 0, 0.25);
